@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("/fonts/Plus_Jakarta_Sans/PlusJakartaSans-Regular.ttf");
}
@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("/fonts/Plus_Jakarta_Sans/PlusJakartaSans-Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("/fonts/Plus_Jakarta_Sans/PlusJakartaSans-Italic.ttf");
  font-style: italic;
}
@font-face {
  font-family: "Space Mono";
  src: url("/fonts/Space_Mono/SpaceMono-Regular.ttf");
}
@font-face {
  font-family: "Space Mono";
  src: url("/fonts/Space_Mono/SpaceMono-Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "Space Mono";
  src: url("/fonts/Space_Mono/SpaceMono-Italic.ttf");
  font-style: italic;
}

:root {
  --background: #3c3c3c;
  --green: #339f45;
  --dark-green: #19411f;
  --light-green: #40ce57;
  --title-color: #a6fab4;
  --breakpoint-color: #e4aa2f;
  --mode-size: 2.4rem;
  --analysis-title-size: 4rem;
  --analysis-section-title-size: 3.2rem;
  --small-text: 1.4rem;
  --checkbox-green: #5cc36d;
  --playback-menu-color: #fff;
  --dark-text-color: #0f2012;
  --breakpoint-button-text-color: #f3fdbb;
  --delete-breakpoints-inactive: #2a2a2a;
  --mode-switch-anim-duration: 0.3s;
  --danger-color: #d62828;
  --success-color: #2a9d8f;
  --danger-hover-color: #d62828cc;
  --success-hover-color: #2a9d8fcc;
  --plus-jakarta-sans: "Plus Jakarta Sans", sans-serif;
  --space-mono: "Space Mono", monospace;
}

html {
  font-size: 62.5%;
  font-family: var(--plus-jakarta-sans);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--space-mono);
}

body {
  color: #fff;
  font-size: 1.6rem;
  background-color: var(--background);
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

@media (max-width: 1350px) {
  :root {
    --analysis-title-size: 3rem;
    --analysis-section-title-size: 2.2rem;
    --mode-size: 2rem;
  }
  body {
    height: fit-content;
    min-height: 100vw;
  }
}
